# fly.toml app configuration file generated for com-geoffjay-admin on 2025-12-25T16:34:54-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'com-geoffjay-admin'
primary_region = 'ord'

[build]

[env]
  # Tell Pocketbase to trust Fly proxy headers
  PB_TRUSTED_PROXY = "true"

[http_service]
  internal_port = 8090
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[[mounts]]
  source = "pb_data"
  destination = "/pb/pb_data"
